
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
body {
    font-family: 'Open Sans', sans-serif;
    /* background-color: hsl(240, 75%, 98%); */
}
nav, h1, h3, button {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3rem;
    color: hsl(243, 87%, 12%);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
}

ul {
    display: flex;
}

li {
    list-style: none;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.2rem;
    color: hsl(243, 87%, 12%);
}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
}

.i {
    max-width: 40%;
    min-width: 40%;
}

.i p {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 1.1rem;
    color: hsl(243, 87%, 12%);
}

.section_input {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

button {
    font-size: 14px;
    padding: .7rem 3rem;
    font-weight: 700;
    border: none;
    background-color: hsl(224, 93%, 58%);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 1rem;
}
button:hover {
    opacity: .8;
}

.firstCTA, .secondCTA {
    display: none;
}

input {
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
    height: 39px;
    width: 50%;
    padding: .8rem;
    font-family: 'Open Sans', sans-serif;
    text-overflow: ellipsis;
}

.section_main_img {
    max-width: 100%;
    height: 65vh;
    margin-right: 2rem;
}

.section_second {
    background-color: hsl(240, 75%, 98%);
    margin-top: -5px;
}

.section_second aside {
    max-width: 45%;
}
.section_second aside p {
    font-weight: 400;
}

.person_info {
    display: flex;
    align-items: center !important;
}

.person_info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.person_info_content {
    margin-left: .5rem;
}

.section_link {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    color: hsl(170, 45%, 43%);
    border-bottom: 1px solid hsl(170, 45%, 43%);
    width: fit-content;
    cursor: pointer;
    margin-bottom: 1rem !important;
}
.section_link:hover {
    opacity: .8;
}

.section_link img {
    margin-top: 7px;
}

.small_p {
    width: 94%;
}

.quote {
    max-width: 60%;
    background-color: white;
    margin-top: 2rem;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
}

.quote p {
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.section_third {
    background-color: hsl(238, 22%, 44%);
    display: flex;
}

.section_third aside {
    width: 40%;
}

.section_third h1 {
    font-size: 2.2rem;
    color: white;
    margin-bottom: 1rem;
}
.section_third p {
    color: white;
}

.section_third_second {
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    flex-direction: column;
}

.section_third_second input {
    margin-top: 5px;
    /* height: 40px; */
    padding: 1.3rem;
}

.section_third_second input:focus {
    outline: none;
}

.section_third_second button {
    margin-left: 0;
    margin-top: 1rem;
    padding: .9rem 3rem;
}

footer {
    padding: 4rem;
    background-color: hsl(243, 87%, 12%);
    color: white
}

.footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1.2rem;
    width: 84%;
}

.aside_footer div {
    margin-bottom: 1rem;
    cursor: pointer;
}

.aside_footer div:hover {
    color: hsl(224, 93%, 58%);
}

.aside_footer svg {
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    width: 25px;
    height: 25px;
    margin-right: .5rem;
    cursor: pointer;
}

.aside_footer svg:hover {
    fill: hsl(224, 93%, 58%);
    border-color: hsl(224, 93%, 58%);
}

.aside_footer_first div:hover {
    color: white;
    cursor:auto;
}

/* Mobile Screens */

@media only screen and (max-device-width: 812px) { 
    nav {
        padding: 2rem;
    }
    nav img {
        height: 29px;
        width: auto;
    }

    li {
        font-size: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }

    section {
        padding: 2rem;
        flex-direction: column-reverse;
        text-align: center;
    }

    .i {
        max-width: 100%;
    }

    .section_main_img {
        max-width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;
    }

    .i p {
        font-size: .9rem;
    }

    .section_input {
        width: 100%;
        flex-direction: column;
    }

    button {
        margin-left: 0;
        width: 100%;
    }
    
    input {
        width: 100%;
        margin-bottom: 1rem;
    }

    .curve_section {
        margin-top: 4rem;
    }

    /* Second Section */

    .section_second aside {
        max-width: 100%;
    }
    .section_second aside h1 {
        font-size: 1.5rem;
    }
    
    .person_info_content {
        margin-left: .5rem;
        text-align: left;
    }
    
    .small_p {
        width: 100%;
        text-align: left;
    }
    
    .quote {
        max-width: 90%;
        text-align: left;
        margin: 2rem auto auto;
    }
    
    .quote p {
        font-size: 12px;
        margin-bottom: 1rem;
        margin-top: .5rem;
        font-family: 'Raleway', sans-serif;
    }

    .section_link {
        margin: auto;
    }
    
    .section_third {
        flex-direction: column;
        padding: 3rem;
    }
    
    .section_third aside {
        width: 100%;
    }
    
    .section_third h1 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .section_third p {
        font-size: .9rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    .section_third input {
        margin-bottom: 0;
        margin-top: 1rem;
    }
    .section_third_second {
        width: 82%;
        margin: auto;
    }
    
    .section_third_second button {
        margin-left: 0;
        margin-top: .5rem;
        padding: .7rem 2rem;
        margin-bottom: 3rem;
    }

    footer {
        padding: 2rem;
    }
    
    .footer-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 2rem;
        width: 100%;
    }

    .aside_footer {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .aside_footer div {
        margin-bottom: 1rem;
        cursor: pointer;
    }
    
    .aside_footer div:hover {
        color: hsl(224, 93%, 58%);
    }
    
    .aside_footer svg {
        border: 1px solid white;
        border-radius: 50%;
        padding: 5px;
        width: 25px;
        height: 25px;
        margin-right: .5rem;
        cursor: pointer;
    }

    .aside_footer:last-child {
        margin: auto;
    }
 }